<nav class="navbar navbar-expand-lg fixed-top navbar-dark">
  <a class="navbar-brand" href="/">AndyTred</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
</nav>

<div id="about" class="d-flex flex-column p-5 px-10  align-items-center">
    <h1 class="p-3">Program for high potential employees</h1>
</div>

 <div class="container">      
<div class="content">
    <div class="summary-part">
        <h3>SUMMARY</h3>
        <h4 class="program">The goal was to establish a program of how to identify high
                                performing employees with leadership potential within a company and how to best train them for
                                manager and executive positions. For my thesis, I concentrated on how a firm can gain a competitive advantage by
identifying and supporting potential leaders within a company more effectively with a high
potential employee program. The fundamentals, foundation, and service design processes
behind this program should be usable in virtually in any company.</h4>
<%= image_tag "framework.png", :class => "justify-content-center img-diamond" %>
    
<div class="problem">
    <div>
        <h3>RESEARCH METHODS</h3>
    </div>
    <div class="d-flex">
        <div class="methods">
            <i class="far fa-address-card "></i>
            <h4>Business Model Canvas</h4>
        </div>
        <div class="methods">
            <i class="fas fa-users"></i>
            <h4>Interviews</h4>
        </div>
        <div class="methods">
            <i class="far fa-map"></i>
            <h4>Customer journey</h4>
        </div>
        <div class="methods">
            <i class="fas fa-male"></i>
            <h4>Persona</h4>
        </div>
    </div>
                
</div>
            
        <h3>PROBLEM STATEMENT</h3>
        <h4> Identifying and training high potential employees is expensive and time consuming. As a result, the goal of this program
                is to give firms the best return on the investment possible by identifying the most effective
                leadership identification and training practices. 
        </h4>
    </div>
</div>

<div class="double-diamond ">
    <h3>DOUBLE DIAMOND APPROACH</h3>
    <div class="diamond ">
        <h4> To describe the whole service design and map the
            process I created Double Diamond. 
        </h4>
        <div class="frame">
            <%= image_tag "diamond.png", :class => "justify-content-center img-diamond" %>
            
        </div>
    </div>
</div>



<div class="summary-card">
    <div class="summary-part">
        <h3>PROJECT GOALS</h3>
            <span style="font-size: 300%; color: #ec5858;">&#9312;</span>
                <h4> How to best identify potential leaders</h4>
            <span style="font-size: 300%; color: #ec5858;">&#9313;</span>
                <h4>Create most effective training</h4>
            <span style="font-size: 300%; color: #ec5858;">&#9314;</span>
                <h4>Prototyping and testing</h4>
            <span style="font-size: 300%; color: #ec5858;">&#9315;</span>
                <h4>Deliver program</h4>
    </div>
</div>

<div class="c-journey">
    <h3>CUSTOMER JOURNEY</h3>
    <h4>To see the process of the program I created customer journey based on a Persona. The journey outlines an employee’s
expectations from the program and what is going on with the employee after finishing the
program. A customer journey points out the possibility for improving the program from the
employee point of view.</h4>
    <div class="frame">
        <%= image_tag "journey.png", :class => "journey" %>
    </div>
    
</div>


            

<div class="goals">
    <h3>PROGRAM FOR HIGH POTENTIAL EMPLOYEES</h3>
    <h4>To create such as program I used the best practices from the research. The most helpful was interviews with different companies and their employees. I also found very powerful Personas and Customer journey to get a better understaning of users.</h4>
    
    <h4>This program serves as a manual for how a High Potential Employee Program can be
created. Of course, executing such a program will be resource intensive for any
organization. However, service design utilizes a different approach and tools which helped
to create such a program. </h4>
<h4 class="final">This is a final version of the manual</h4>
    <div class="frame d-flex">
            <%= image_tag "pro.png", :class => "pro justify-content-center" %>
            <%= image_tag "pro2.png", :class => "pro justify-content-center" %>
        </div>
        <div class="frame frame2 d-flex">
            <%= image_tag "pro3.png", :class => "pro justify-content-center" %>
            <%= image_tag "pro4.png", :class => "pro justify-content-center" %>
        </div>
</div>
             
<div class="next-one">
    <h3>Do you wish to read more? You can dive into my master thesis here</h3>
    <a href="https://www.theseus.fi/bitstream/handle/10024/141254/Tredrea_Andrea.pdf?sequence=1&isAllowed=y" target="_blank" class="btn btn-outline-dark btn-thesis" role="button">Read Master Thesis</a>
     
</div>

        <div id="contact" class=" p-3  d-flex flex-row flex-wrap justify-content-center align-items-center"> 
            <a href="https://www.facebook.com/andrea.sabova2/"target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="https://www.linkedin.com/in/andreatredrea/"target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/Andytred"target="_blank"><i class="fab fa-github"></i></a>
        
            <a target="_blank" href="https://drive.google.com/file/d/1rD7Fi14X1iZDaznNmJ_Q7AyYsl-7Ityf/view" download>
                <button type="button" class="btn-resume m-3">Resume</button>
            </a>
        </div>

    </div>

    </div>

    <div class="footer-copyright text-center py-3">Handcrafted by @andrea.tredrea 2020</div>
